* {
    margin: 0;
}

/*    help    */

body {
    overflow-x: hidden;
}

.scrPos {
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    z-index: -1;
}

.control {
    position: fixed;
    color: #fff;
    z-index: 1;
    right: 100px;
    top: 20px;
    font-size: 13px;
}

.status {
    cursor: pointer;
}

/*     before    */

.before {
    background: #000;
    height: 700px;
    position: relative;
}

/*     transfer    */

.transfer {
    background: #000;
}

.page {
    position: relative;
    color: #fff;
}

/*     scene     */

.scene {
    position: relative;
    overflow: hidden;
}
.scene img {
    position: relative;
}

.scene .bg {
    position: absolute;
    left: 0; top: 0;
}

/*     one    */

.one {
    background-image: url('demo/bg.jpg');
    background-position: bottom;
    background-size: 100%;
    -skrollr-animation-name: one;
}
.one .girl {
    margin-top: 70px;
    left: 35%;
}
.one .chair {
    top: 400px;
}

@-skrollr-keyframes one {
   392 {
     transform: translateY(-20px);
   }
   924 {
     transform: translateY(-140px);
   }
}

/*     two    */

.two {
    background-image: url('demo/bg(1).jpg');
    background-size: 100%;
    background-position: 50% 10%;
    margin-top: -140px;
}

.two .girl {
    margin-top: 100px;
    -skrollr-animation-name: girl;
}

.two .chair {
    left: 435px;
    top: 560px;
}

@-skrollr-keyframes girl {
    590 {
        left: 770px;
    }
    1308 {
        left: 830px;
    }
}

/*     three    */

.three {
    background-image: url('demo/bg(2).jpg');
    background-size: 1507px;
    background-position: -30px;
    overflow: visible;
}

.three .girl {
    left: 600px;
    margin-top: 100px;
}

.three .verre {
    -skrollr-animation-name: verre;
    top: -100px;
    z-index: 1;
}

@-skrollr-keyframes verre {
    1257 {
        left: 100px;
        top: -120px;
    }
    3113 {
        left: 200px;
        top: -220px;
    }
}

/*    four   */

.four {
    height: 855px;
    background-image: url('demo/bg(3).jpg');
    background-size: 100% 100%;
}

.four .street {
    width: 100%;
    height: 100%;
}

.four .girl {
    /*left: 52%;*/
    margin-top: 425px;
    -skrollr-animation-name: debris_girl;
}

.four .debris {
    transform: rotateZ(-312deg);
    top: 280px;
    left: 240px;
}

@-skrollr-keyframes debris_girl {
    2220 {
        left: 52%;
    }
    3164 {
        left: 53%;
    }
}

/*    five   */

.five {
    background-image: url('demo/bg(4).jpg');
    background-size: cover;
}

.five .left {
    margin-top: 50px;
    -skrollr-animation-name: dog_left;
}

.five .right {
    left: auto;
    -skrollr-animation-name: dog_right;
}

@-skrollr-keyframes dog_left {
    2978 {
        left: -300px;
    }
    4487 {
        left: -200px;
    }
}

@-skrollr-keyframes dog_right {
    2978 {
        right: 0px;
    }
    4487 {
        right: -100px;
    }
}

/*    transition one   */

.tr_one {
    background: #000;
    left: 0;
    right: 0;
    top: 0;
}

/*    six   */

.six {
    background-image: url('demo/bg_hide.jpg');
    background-size: cover;
    left: 100%;
    z-index: 1;
}

.six .girl {
    left: 500px;
    top: 100px;
}

/*    seven   */

.seven {
    background-image: url('demo/bg(5).jpg');
    background-size: cover;
    background-position: -100px;
    left: 100%;
}

/*    seven   */

.eight {
    background-image: url('demo/bg(6).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40px -100px;
}

/*    seven   */

.nine {
    background-image: url('demo/bg(7).jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.nine .girl {
    top: auto;
    left: -500px;
    bottom: 0;
}


/*     transfer    */ 

.top_con_left {
    padding-bottom: 200px;
    box-sizing: content-box;
}

.left_con_left {
    z-index: -1;
    background: #000;
}




