/*    all_margin    */

* {
    margin: 0;
}

/*    body_basic    */

body {
    overflow-x: hidden;
}

/*    control    */

.control {
    position: fixed;
    color: #fff;
    z-index: 1;
    right: 100px;
    top: 20px;
    font-size: 13px;
}

.status {
    cursor: pointer;
}

/*     page_basic     */

.page {
    position: relative;
    color: #fff;
    background: #000;
    overflow: hidden;
}

.page img {
    position: absolute;
}

/*     page_one    */

.page_one {
    background-image: url('img/bg.jpg');
    background-size: 100% 100%;
}

.page_one .girl {
    left: 500px;
    bottom: 0;
}

.page_one .chair {
    bottom: 0;
}

/*    page_two     */

.page_two {
    background-image: url('img/bg(1).jpg');
    background-size: 100% 100%;
}

.page_two .girl {
    bottom: 0;
}

/*    page_three     */

.page_three {
    overflow: visible;
    background-image: url('img/bg(2).jpg');
    background-size: 100% 100%;
    z-index: 1;
}

.page_three .verre {

}

.page_three .girl {
    bottom: 0;
    left: 50%;
    margin-left: -100px;
}

/*    page_four     */

.page_four {
    background-image: url('img/bg(3).jpg');
    background-size: 100% 100%;
}

.page_four .girl {
    bottom: 0;
}

/*    page_five    */

.page_five {
    background-image: url('img/bg(4).jpg');
    background-size: 100% 100%;
}

.page_five .dog_left {
    bottom: 0;
}

.page_five .dog_right {
    top: 0;
}

.change_first {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

/*    page_six    */

.page_six {
    background-image: url('img/bg_hide.jpg');
    background-size: 100% 100%;
    left: 100%;
    z-index: 1;
}

.page_six .girl {
    right: -200px;
    bottom: 0;
}

/*    page_seven    */

.page_seven {
    background-image: url('img/bg(5).jpg');
    background-size: 100% 100%;
    left: 100%;
}

.left_left {
    left: 100%;
    z-index: -1;
}

/*    page_eight    */

.page_eight {
    background-image: url('img/bg(6).jpg');
    background-size: 100%%;
    background-position: 0px;
    left: 100%;
    z-index: 1;
}

/*    page_nine    */

.page_nine {
    background-image: url('img/bg(7).jpg');
    background-size: 100%% 100%;
    left: 100%;
    z-index: 1;
}

.page_nine .girl {
    bottom: 0;
    left: -800px;
}











